<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person.js</title>
    <link rel="stylesheet" href="assets/style.css" type="text/css">
</head>
<body>

    <!-- <h2>Quert String value: <%= Qstr %></h2> -->

    <!-- Main Text -->
        <h1>Person: <%= ID %></h1>
        <h2>Mensaje: <%= M %></h2>
        <h2>Repeticiones: <%= T %></h2>

    <!-- Switch to determine if message is correct -->
    <% switch(M) {

        <!-- Check if Message equals "Hola" and repeats "T" times -->
        case 'Hola' : %>
        <% for(var i = 0; i < T; i++) {%>
            <li><%= M %> <%= ID %></li>
          <% } %>
        <% break;

        <!-- Check if Message equals "Adios" and repeats "T" times -->
        case 'Adios' : %>
        <% for(var i = 0; i < T; i++) {%>
            <li><%= M %> <%= ID %></li>
          <% } %>
        <% break;

        <!-- Check if Message equals "Bienvenida" and repeats "T" times -->
        case 'Bienvenida' : %>
        <% for(var i = 0; i < T; i++) {%>
            <li><%= M %> <%= ID %></li>
          <% } %>
        <% break;

        <!-- Check if Message equals "Bienvenido" and repeats "T" times -->
        case 'Bienvenido' : %>
        <% for(var i = 0; i < T; i++) {%>
            <li><%= M %> <%= ID %></li>
          <% } %>
        <% break;

        <!-- Default message if incorrect message -->
        default : %>
        <h1>El mensaje no es correcto, se admite Hola, Adios y Bienvenido/a</h1>
        <% break;

        }
    %>

</body>
</html>